
.bug-desc-panel{
    width:80%;
    margin-left:10%;
}

.bug-commit-panel{
    width:80%;
    margin-left:10%;
}

.bug-comment-panel{
    width:80%;
    margin-left:10%;
}

.pms-bug-op a{
    margin-left:20px;
}
